<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.screenmap">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBkeOFV9fIHE1BMcKhxqBM9Zq3Ldv8VM_0" />
    </application>

</manifest>